test
face_dist_model.pt
.venv
**/__pycache__/**
models/TrainedWeights/vggface2.pt
models/TrainedWeights/casia-webface.pt
.idea
**/.ipynb_checkpoints/**
wandb
test.ipynb
bringer-deepid.ipynb
